<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.css"
      integrity="sha512-TD/aL30dNLN0VaHVoh9voFlNi7ZuWQYtV4bkIJv2ulZ8mEEkZJ7IyGvDthMKvIUwzLmPONnjQlAi55HTERVXpw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Home</title>
  </head>
  <!-- Link -->
  <body style="background-color: lightblue">
    <div class="container-fluid d-flex justify-content-center bg-black">
      <a class="fs-3 link-light top-link" href="https://appdelante.com/"
        >Link al original</a
      >
    </div>
    <!-- navbar -->
    <nav
      class="navbar navbar-expand-md navbar-light bg-light"
      aria-label=" navbar"
    >
      <div class="container">
        <a class="navbar-brand" href="/"> HagamonosMakers </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsExample04"
          aria-controls="navbarsExample04"
          aria-expanded="false"
          aria-label="Toggle navigation"
          wfd-invisible="true"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
          <ul class="navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a
                class="nav-link activo"
                id="home-link"
                aria-current="page"
                href="/"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" id="work-link" href="/work">Work</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="services-link"
                href="/services"
                tabindex="-1"
                aria-disabled="true"
                >Services</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" id="about-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-link" href="/contact">Contact</a>
            </li>
          </ul>
          <form>
            <input
              class="form-control"
              type="text"
              placeholder="Search"
              aria-label="Search"
            />
          </form>
        </div>
      </div>
    </nav>
    <div id="fullpage">
      <div>
        <div class="section s1 container-fluid" data-anchor="fistPage">
          <div class="row">
            <div class="col-xl-3"></div>
            <div class="col-xl-6 text-white" id="main-text">
              <p class="fs-1">Cursos de programación web</p>
              <p class="fs-3">
                Para todos los niveles dictados por los expertos de la industria
              </p>
              <img
                src="https://c.tenor.com/UNTqMDwqh1gAAAAM/hello-hi.gif"
                alt=""
              />
            </div>
            <div class="col-xl-3"></div>
          </div>
        </div>
        <div class="section s2 bg-white" data-anchor="secondPage">
          <div class="container">
            <div class="row">
              <div class="col"></div>
              <div class="col"></div>
              <div class="col">
                <p>
                  <strong>Faltan Programadores </strong> <br />
                  El mundo depende cada vez más de software, pero la cantidad de
                  personas capaz de entenderlo no crece al mismo ritmo. Esto
                  crea una oportunidad <strong>ENORME</strong> para personas
                  dispuestas a aprender.
                </p>
              </div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <p>
                  <strong>Aprendizaje Permanente</strong> <br />
                  La tecnología avanza y cambia a la velocidad de un Jet, y solo
                  parece estar <strong> acelerando. </strong> Hay que estar
                  permanentemente aprendiendo para tener una ventaja.
                </p>
              </div>
              <div class="col"></div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col"></div>
              <div class="col">
                <p>
                  <strong>Menos ruido, más señal</strong> <br />
                  Con tantos cambios y recursos en la web hay muchísimo ruido.
                  Nuestro tiempo es <strong>limitado</strong>, hay que aprender
                  de los mejores y de la manera más efectiva.
                </p>
              </div>
              <div class="col"></div>
            </div>
          </div>
        </div>
        <div class="section s3 bg-black bg-opacity-10" data-anchor="thirdPage">
          <div class="container-fluid" id="parallelogram">
            <div class="row">
              <div class="col-3"></div>
              <div class="col-6 text-white">
                <h2>Appdelante está para apoyarte</h2>
                <p>
                  Bien seas un principiante o un experto nuestro objetivo es el
                  mismo: Darte herramientas que te permitan conseguir ese
                  trabajo que quieres, prototipar esa app que ha estado en tu
                  mente, satisfacer tu curiosidad respecto al mundo del software
                  y mucho más.
                </p>
                <div class="row">
                  <div class="col">
                    <div class="d-flex align-items-center">
                      <i class="bi bi-bullseye fs-1 me-2"></i>
                      <h2>Principiantes</h2>
                    </div>
                    <p>
                      Vamos a empezar desde cero. No vamos a tomar atajos.
                      Nuestra visión de aprendizaje es como armar un lego:
                      Primero hay que entender las piezas individuales y luego
                      poco a poco las vamos a conectar unas a otras.
                    </p>
                  </div>
                  <div class="col">
                    <div class="d-flex align-items-center">
                      <i class="bi bi-bullseye fs-1 me-2"></i>
                      <h2>Con experiencia</h2>
                    </div>
                    <p>
                      Ya programas, no queremos frenarte. Iremos directo al
                      grano, directo a jugar con frameworks y tecnologías
                      modernas para expandir tu experticia.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-3"></div>
            </div>
          </div>
        </div>
        <div class="section s4 bg-light" data-anchor="forthPage">
          <div class="row">
            <div class="col-1"></div>
            <div class="col-5"></div>
            <div class="col-3">
              <h2>Tecnologías en demanda</h2>
              <p>
                Te vamos a enseñar las tecnologías y técnicas que tienen más
                demanda en la industria para que tengas una
                <strong> ventaja competitiva.</strong>
              </p>
              <p>
                También nos encanta escuchar los intereses de nuestros usuarios
                <strong> ¿Qué quieres aprender?</strong>
              </p>
            </div>
            <div class="col-3"></div>
          </div>
        </div>
        <div class="section s5 bg-light" data-anchor="fifthPage">
          <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
              <h2>Crearemos productos reales</h2>
              <p>Utilizaremos todo lo que aprenderás para crear réplicas de:</p>
              <div>
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-4">Snapchat</div>
                  <div class="col-2"></div>
                  <div class="col-4">Twitter</div>
                </div>
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-4">Uber</div>
                  <div class="col-2"></div>
                  <div class="col-4">Spotify</div>
                </div>
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-4">Instagram</div>
                  <div class="col-2"></div>
                  <div class="col-4">Reddit</div>
                </div>
              </div>
              <p>¡Tú decides cual es la siguiente!</p>
            </div>
            <div class="col-4"></div>
          </div>
        </div>
        <div class="section s6" data-anchor="sixthPage">
          <div class="row">
            <div class="col-3"></div>
            <div class="col-6 d-flex flex-column align-items-center other-i">
              <h2>¿Listo para unirte a 2643 desarrolladores?</h2>
              <p>(Al dejar tu correo tendrás)</p>
              <div>
                <div class="d-flex align-items-baseline">
                  <i class="bi bi-check2-square"></i>
                  <p>Cursos gratis</p>
                </div>
                <div class="d-flex align-items-baseline">
                  <i class="bi bi-check2-square"></i>
                  <p>Análisis sobre el mundo de la tecnología</p>
                </div>
                <div class="d-flex align-items-baseline">
                  <i class="bi bi-check2-square"></i>
                  <p>Tips para llevar tus habilidades al siguiente nivel</p>
                </div>
                <div class="d-flex align-items-baseline">
                  <i class="bi bi-check2-square"></i>
                  <p>Lecciones aprendidas en el emprendimiento digital</p>
                </div>
                <div class="d-flex align-items-baseline">
                  <i class="bi bi-check2-square"></i>
                  <p>Y mucho más...</p>
                </div>
              </div>
              <div class="d-flex flex-column">
                <input
                  type="text"
                  class="form-control"
                  placeholder="tu@correo"
                />
                <div class="row mt-2">
                  <div class="col-3"></div>
                  <div class="col-6">
                    <input
                      type="submit"
                      value="Regístrate"
                      class="btn btn-primary p-3"
                    />
                  </div>
                  <div class="col-3"></div>
                </div>
              </div>
            </div>
            <div class="col-3"></div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"
      integrity="sha512-gSf3NCgs6wWEdztl1e6vUqtRP884ONnCNzCpomdoQ0xXsk06lrxJsR7jX5yM/qAGkPGsps+4bLV5IEjhOZX+gg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/js/scripts.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
