<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.css"
      integrity="sha512-TD/aL30dNLN0VaHVoh9voFlNi7ZuWQYtV4bkIJv2ulZ8mEEkZJ7IyGvDthMKvIUwzLmPONnjQlAi55HTERVXpw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Home</title>
  </head>
  <body style="background-color: lightblue">
    <div class="d-flex justify-content-center">
      <a class="fs-3 link-light top-link" href="www.google.com">Un link</a>
    </div>
    <!-- navbar -->
    <nav
      class="navbar navbar-expand-md navbar-light bg-light"
      aria-label=" navbar"
    >
      <div class="container">
        <a class="navbar-brand" href="/"> HagamonosMakers </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsExample04"
          aria-controls="navbarsExample04"
          aria-expanded="false"
          aria-label="Toggle navigation"
          wfd-invisible="true"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
          <ul class="navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a
                class="nav-link activo"
                id="home-link"
                aria-current="page"
                href="/"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" id="work-link" href="/work">Work</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="services-link"
                href="/services"
                tabindex="-1"
                aria-disabled="true"
                >Services</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" id="about-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-link" href="/contact">Contact</a>
            </li>
          </ul>
          <form>
            <input
              class="form-control"
              type="text"
              placeholder="Search"
              aria-label="Search"
            />
          </form>
        </div>
      </div>
    </nav>
    <div id="fullpage">
      <div>
        <div class="section s1 container-fluid" data-anchor="fistPage">
          <div class="row">
            <div class="col-4"></div>
            <div class="col-8">
              <h2>
                Cursos de programación web Para todos los niveles dictados por
                los expertos de la industria
              </h2>
            </div>
            <div class="col-4"></div>
          </div>
        </div>
        <div class="section s2" data-anchor="secondPage"></div>
        <div class="section s3 bg-light"></div>
        <div class="section s4 bg-black bg-opacity-25"></div>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"
      integrity="sha512-gSf3NCgs6wWEdztl1e6vUqtRP884ONnCNzCpomdoQ0xXsk06lrxJsR7jX5yM/qAGkPGsps+4bLV5IEjhOZX+gg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      new fullpage("#fullpage", {
        //options here
        autoScrolling: true,
        scrollHorizontally: true,
        anchors: ["firstPage", "secondPage", "thirdPage", "forthPage"],
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
