@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

nav {
  top: 50px;
  font-family: "Bebas Neue", cursive;
  position: fixed;
  z-index: 9999;
}
a {
  font-size: x-large;
}
a:hover {
  color: blue !important;
}

.s1 {
  background-color: #0c6fde;
}

.s6 {
  background-color: #1799dd;
}
.top-link {
  position: fixed;
  z-index: 9999;
  background-color: blue;
}
@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@600;700;800&display=swap");

#main-text {
  font-family: "Stick No Bills", sans-serif;
  text-align: center;
  position: relative;
  top: -50px;
}

.text-white {
  color: white;
}

i {
  color: tomato;
}
.other-i {
  color: #fff;
}
.other-i > div > div > i {
  color: green;
  font-size: x-large;
  padding-right: 5px;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  top: 50px;
}
.background-shape {
  background: #4b557a;
  width: 100%;
  height: 700px;
  -ms-transform: skewY(-10deg);
  -webkit-transform: skewY(-10deg);
  transform: skewY(-10deg);
  border-radius: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.content {
  color: white;
  position: absolute;
  top: 120px;
  z-index: 9999;
}

.boton {
  background-color: orange;
  font-size: x-large;
  color: #fff;
}
